@import "../../../styles/vars.scss";

.personalInfo {
    .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1.5rem;

        .duration {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            width: 100%;
            height: 3rem;
            border-radius: 8px;
            background: var(--Very-Light-Grey, #F8F9FF);

            font-size: 14px;

            .monthly {
                width: 56px;
            }

            .yearly {
                width: 42px;
            }

            .selected {
                font-weight: 700;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .btn {
                border-radius: 8px;
                background: var(--Denim, #022959);
                width: fit-content;
                padding: 14px 24px;
                font-size: 16px;
                align-self: flex-end;
                cursor: pointer;
            }

            .btnSecondary {
                background-color: white;
                color: var(--Grey, #9699AA);
                border: none;
                width: fit-content;
                font-family: 'Ubuntu';
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}